/.metadata/

Practica/.metadata/.log

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/16/c0df0a63624e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/18/90b7693bb850001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/18/a0529732fc50001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/19/401bae6a654e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/19/c0d3e8f2bc50001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/1f/0084c2d00051001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/1f/905e89f2d050001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/1f/e0c7e927fa50001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/2/7050d612fb50001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/2/a094ac6a654e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/2/c00de818514e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/22/f08c6344bc50001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/25/70659b11b950001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/29/e05415d7ba50001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/29/f0aed1af3f4f001a1792dcea36383695

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/2e/30bf778dfb50001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/35/10970a0d664e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/36/00647365514e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/3a/00cc553ab750001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/3b/203c9b70f650001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/3e/70b058d4bb50001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/40/50885274b550001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/42/d0c77c1fb750001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/46/90eec462fe50001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/4b/50b5f361d150001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/4c/d007ba366b4e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/54/206d5523514e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/56/30a1e4ff824e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/56/508f97d0824e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/59/8084c576ff50001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/5c/30d153f0704e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/5c/f076525b514e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/5e/f05fd638b257001a1640abb282767e01

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/60/00a5e727fa50001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/67/201f279a654e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/69/f0a05ec30051001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/6a/309c37b2d050001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/6a/f0a8aac40051001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/6f/1010e9453e4f001a1792dcea36383695

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/7/80371e143f4f001a1792dcea36383695

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/7/a02c0356b650001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/74/907b6114bf50001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/76/405fb475654e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/76/70fbaa8dbf50001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/77/e0df5afb6d4e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/78/c0ba30dc514e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/7b/a05168cc0051001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/7b/a0b1d7d8f750001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/7b/b0e177e9fc50001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/7d/508059fb6d4e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/8/507a9f2d834e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/8/d0300622514e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/80/d025b5366b4e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/81/e0056d2c644e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/83/40331781b750001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/83/e0432cdd744e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/84/607b1771d250001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/84/d0ced693754e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/9/10d3e580434f001a1792dcea36383695

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/91/10aba36a514e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/91/a0587302524e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/96/9028d997b750001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/96/f0c17536d350001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/97/a0d0dcc7404f001a1792dcea36383695

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/98/20cc0dd4b850001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/99/1054b70a6d4e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/9e/7001a6c8ae57001a1640abb282767e01

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/9f/80d78d33524e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/a/90be256cbf50001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/a0/80fa7abbd050001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/a2/30cefb1cf750001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/a3/30f9887eb550001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/a3/708ed5b9fd50001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/a3/a0923442f650001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/a8/a0e02c643b53001a11d7dd0dbec0fcd0

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/ae/a07b15fa3e4f001a1792dcea36383695

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/af/808cc1b4fe50001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/b/70f7b06f6a4e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/b5/10c2e00df350001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/b6/00079f83404f001a1792dcea36383695

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/b7/f01ef884b257001a1640abb282767e01

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/b8/c0dcbf62514e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/b9/202ce6f2f250001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/ba/d00cc2a2f450001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/bd/9052f397ff50001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/bd/a0f08fdbf350001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/bd/e0fdc376ff50001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/c0/30734f83bb50001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/c0/50bed4483e4f001a1792dcea36383695

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/c0/d01ff75f514e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/c2/40a3d345b250001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/c2/80414186824e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/c5/10175862be50001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/c7/d03ee3d4ae57001a1640abb282767e01

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/c8/f0e43242f650001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/ca/c002dfc2654e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/cc/8036060c524e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/d1/007f6aa8d150001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/d5/a07d66d6514e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/d6/80097fc80051001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/d9/e03e1ab4d050001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/da/70579d2d834e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/db/f0253c5ab750001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/e0/90256006f750001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/e3/f076b90a6d4e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/e5/200bc776ff50001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/e8/00fd8df2d150001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/e9/7055d893754e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/ea/a040e2d9f350001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/eb/a005a317f950001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/eb/c00dca59b850001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/ec/d043b0366b4e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/ed/30880ed7774e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/f5/f0fccd27514e001a1cafab59a93449b4

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/f7/e001c8d63e4f001a1792dcea36383695

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/ff/00f25ed4bb50001a1f57c93283f48df3

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/ff/6071274ad050001a1ba6bae963c039c3

Practica/.metadata/.plugins/org.eclipse.core.resources/.projects/Practica/.indexes/e4/b9/22/81/c9/1f/29/history.index

Practica/.metadata/.plugins/org.eclipse.core.resources/.projects/Practica/.indexes/e4/b9/22/81/c9/1f/9c/history.index

Practica/.metadata/.plugins/org.eclipse.core.resources/.projects/Practica/.indexes/e4/b9/22/81/c9/1f/9e/history.index

Practica/.metadata/.plugins/org.eclipse.core.resources/.projects/Practica/.indexes/e4/b9/22/81/c9/1f/history.index

Practica/.metadata/.plugins/org.eclipse.core.resources/.projects/Practica/.indexes/e4/b9/db/39/history.index

Practica/.metadata/.plugins/org.eclipse.core.resources/.projects/Practica/.indexes/e4/b9/db/history.index

Practica/.metadata/.plugins/org.eclipse.core.resources/.projects/Practica/.markers

Practica/.metadata/.plugins/org.eclipse.core.resources/.projects/Practica/org.eclipse.jdt.core/state.dat

Practica/.metadata/.plugins/org.eclipse.core.resources/.root/23.tree

Practica/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

Practica/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

Practica/.metadata/.plugins/org.eclipse.jdt.core/2528832420.index

Practica/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_a_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_a.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_b_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_b.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_c_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_c.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_d.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_9

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_e

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_b_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_b.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_c_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_c.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_d_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_d.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_e_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_e.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_f.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_b

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_g

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/e0243525092393f202b9a2b92dc346fd/_1y_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/e0243525092393f202b9a2b92dc346fd/_1z_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/e0243525092393f202b9a2b92dc346fd/_1z.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/e0243525092393f202b9a2b92dc346fd/_20_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/e0243525092393f202b9a2b92dc346fd/_20.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/e0243525092393f202b9a2b92dc346fd/_21_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/e0243525092393f202b9a2b92dc346fd/_21.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/e0243525092393f202b9a2b92dc346fd/_22_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/e0243525092393f202b9a2b92dc346fd/_22.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/e0243525092393f202b9a2b92dc346fd/_23.cfs

Practica/.metadata/.plugins/org.eclipse.core.resources/.history/36/a08bdd38fe50001a1979eaa77e1ac44e

Practica/.metadata/.plugins/org.eclipse.core.resources/.root/19.tree

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_1_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_1.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_2_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_2.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_3_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_3.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_4_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_4.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_5_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_5.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_6_1.del

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_6.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_7.cfs

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/e0243525092393f202b9a2b92dc346fd/segments_1t

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/e0243525092393f202b9a2b92dc346fd/segments_1y

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/e0243525092393f202b9a2b92dc346fd/segments.gen

Practica/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log

Practica/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties

Practica/.metadata/version.ini

Practica/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

Practica/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml

Practica/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml

Practica/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a.cfs
