<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Carriro</title>
</head>
<body>
<div>Cabecera</div>

<div class="container">
	<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Producto</th>
					<th scope="col">Cantidad</th>
					<th scope="col">Precio</th>
					<th scope="col">Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>id</td>
					<td>agua</td>
					<td>1</td>
					<td>1</td>
					<td>borrar</td>
				</tr>
			</tbody>
		</table>
</div>

<div>Footer</div>
</body>
</html>