<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Creacion de proveedores</title>
</head>
<body>
<div class="container-fluid bg-dark fixed-top">
			<div id="logo">
				<a href="/"><img src="/img/logo.jpg" class="img-fluid rounded-pill" alt="Responsive image"></a>
			</div>
			<form class="form-inline float-right" action="/formbusquedaproveedor">
    		<input class="form-control mr-sm-2" type="search" placeholder="search" aria-label="search"
    			 name="search" id="search" >
    			<button class="btn btn-outline-success my-2 my-sm-0" href="/formbusqueda" type="submit"><i class="material-icons align-middle">search</i></button>
  			</form>
			<div class="row">
				<ul class="nav navbar-dark bg-dark">
					<li class="nav-item"><a class="nav-link active" href="/">Inicio</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/contacto">Contactos</a></li>
					<li class="nav-item"><a class="nav-link" href="/CRUD">Crear usuarios</a></li>
					<li class="nav-item"><a class="nav-link" href="/formproveedor">Crear proveedor</a></li>
					<li class="nav-item"><a class="nav-link" href="/formproducto">Crea producto</a></li>
					<li class="nav-item"><a class="rounded float-right" href="/carro" role="button">
						<i class="material-icons">shopping_cart</i>
					</a></li>
				</ul>
			</div>
</div>
<br>
<br>
<br>
	<div class="container">
		<form action="/datosform">
			<div class="form-group">
				<label for="nombre">Nombre</label> <input type="text"
					class="form-control" name="name" id="nombre"
					aria-describedby="nombreHelp" placeholder="Escriba su nombre">
			</div>
			<div class="form-group">
				<label for="producto">Producto</label> <input type="text"
					class="form-control" name="producto" id="producto"
					aria-describedby="productohelp" placeholder="Introduzca producto">
			</div>
			<div class="form-group">
				<label for="producto">Precio</label> <input type="text"
					class="form-control" name="Precio" id="Precio"
					aria-describedby="preciohelp" placeholder="Introduzca Precio">
			</div>
			<button type="submit" class="btn btn-primary">Enviar</button>
			
		</form>
	</div>

	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col">Producto</th>
				</tr>
			</thead>
			<tbody>
			{{#proveedor}}
				<tr>
					<td>{{id}}</td>
					<td>{{nombre}}</td>
					<td>{{producto}}</td>
				</tr>
			{{/proveedor}}
			</tbody>
		</table>
	</div>

	<script src="webjars/jquery/3.0.0/jquery.js"></script>
	<script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>