<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css">

<title>Toko Store</title>
</head>
<body>
	<p>Bienvenidos a {{nombre}}</p>
	<div class="container">
		<div class="row">
			<div class="col-md-4">Pepe</div>
			<div class="col-md-4">Pepe2</div>
			<div class="col-md-4">Pepe3</div>
		</div>
	</div>
	<a class="btn btn-primary" href="/CRUD" role="button">Crear Usuarios</a>
	<a class="btn btn-primary" href="/formproveedor" role="button">Crear Proveedores</a>
	<a class="btn btn-primary" href="/formproducto" role="button">Crear Producto</a>
	
	<script src="webjars/jquery/3.0.0/jquery.js"></script>
	<script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>