{{>cabecera}}

<h1>Seguridad Spring</h1>
<p>Pagina privada </p>
<form method="post" action="/Desautenticado">
	<input type="submit" value="Sing Out"/>
	<input type="hidden" name="_csrf" value="c54a70a7-1586-4dc3-8e64-4fac09625ce2"/>
	
</form>

	<div class="container" id="content_table">
		
		<table class="table">
			<thead>
				<tr>
					<th scope="col" class="text-danger">#</th>
					<th scope="col" class="text-primary">Nombre producto</th>
					<th scope="col" class="text-primary">Precio</th>
					<th scope="col" class="text-info">Opciones</th>
				</tr>
			</thead>
			<tbody>
			{{#productos}}
				<tr>
					<td>{{id}}</td>
					<td>{{nombre}}</td>
					<td>{{precio}}</td>
						<td class="row">
							<a class="btn" href="/addCarro?id={{id}}"> <i class="material-icons">shopping_cart</i></a>
							<a class="btn" href="/verProducto?id={{id}}"><i class="material-icons">visibility</i></a>
						</td>
				</tr>
			{{/productos}}
			</tbody>
		</table>
		
	</div>
	<div class="row">
		<a class="btn btn-primary mx-auto" href="/end">Terminar</a>
		</div>
	
{{>pie}}	