{{>cabecera}}




    <div class="container" id="content_table">
		<form action="/Autenticado">
			<div class="form-group">
				<label for="nombre">Nombre</label> <input type="text"
					class="form-control" name="name" id="nombre"
					aria-describedby="nombreHelp" placeholder="Escriba su nombre">
			</div>
			<div class="form-group">
				<label for="pass">Contraseña</label> <input type="text"
					class="form-control" name="pass" id="pass"
					aria-describedby="preciohelp" placeholder="Introduzca contraseña">
			</div>
			<input type="submit" value="Sign In" /><br />				
			<input type="hidden" name="_csrf" value="{{token}}"/>
		</form>
	</div>















{{>pie}}