<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Carrito</title>
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container-fluid bg-dark fixed-top">
			<div id="logo">
				<a href="/"><img src="/img/logo.jpg" class="img-fluid rounded-pill" alt="Responsive image"></a>
			</div>
			<form class="form-inline float-right">
    			<input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="search"
    			 name="search" id="search">
    			<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="material-icons align-middle">search</i></button>
  			</form>
			<div class="row">
				<ul class="nav navbar-dark bg-dark">
					<li class="nav-item"><a class="nav-link active" href="#">Inicio</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Contactos</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Acerca de</a></li>
					<li class="nav-item"><a class="nav-link disabled" href="#"
						tabindex="-1" aria-disabled="true">Disabled</a></li>
				</ul>
			</div>
</div>
<div class="container" id="content_producto">
	<img alt="Producto" src="/img/logo.jpg">
</div>



<div class="container-fluid bg-dark fixed-bottom">
	<div class="row">
		<p class="align-middle" id="footer">Creado por el equipo de desarrollo de la URJC</p>
	</div>

</div>
<script src="webjars/jquery/3.0.0/jquery.js"></script>
<script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>